
/* Reset */

* {  
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup, 
menu, footer, header, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
  display: block;
}

/* Root */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /* root em -> 10px */
  -webkit-tap-highlight-color: #fe57a1;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

/* Selection */

::-moz-selection    { background: #1D1D1D; color: #fff; text-shadow: none; }
img::-moz-selection { background: transparent; }

::selection         { background: #1D1D1D; color: #fff; text-shadow: none; }
img::selection      { background: transparent; }

/* Links */

a:link,
a:visited {
  color: #fff;
/*color: #0099cc;*/
/*font-weight: bold;*/
  text-decoration: none;
}

a:hover,
a:focus {
  color: #33b5e5;
}

a img {
  border: none;
}
