
// ////////////////////////////////////////////////////////////////////////////

html
  font-size: 62.5%
  -webkit-tap-highlight-color: #33b5e5
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%

body
  font: normal 1.5em/1.618 Arial, sans-serif
  color: #3D3D3D
  position: relative
  overflow: hidden
  overflow-y: scroll
  background: #FFF

// ////////////////////////////////////////////////////////////////////////////

::-moz-selection
  background: #1D1D1D
  color: #fff
  text-shadow: none

img::-moz-selection
  background: transparent

::selection
  background: #1D1D1D
  color: #fff
  text-shadow: none

img::selection
  background: transparent

// ////////////////////////////////////////////////////////////////////////////

a:link,
a:visited
  color: #33b5e5
  font-weight: bold
  text-decoration: none

a:hover,
a:focus
  color: #2E3192

a img
  border: none
